#  SOAL

Building Relay Teams From Swimmer Data

you will read data from a CSV file containing swimming event times for a community swim team from all of the swim meets over the course of a season. The goal is to determine which swimmers should be in the relay teams for each stroke next season.

Each stroke should have an “A” and a “B” relay team with four swimmers each. The “A” team should contain the four swimmers with the best times for the stroke and the “B” team the swimmers with the next four best times.

The data for this example can be found here:

In [24]:
#Impor library
import pandas as pd

In [25]:
df = pd.read_csv("/content/swimmers.csv")

In [26]:
#split data
butterfly_df = df[swim_data['Stroke'] == 'butterfly']
breaststroke_df = df[swim_data['Stroke'] == 'breaststroke']
freestyle_df = df[swim_data['Stroke'] == 'freestyle']
backstroke_df = df[swim_data['Stroke'] == 'backstroke']

In [27]:
#mengurutkan df jenis perlombaan berdasarkan waktu
backstroke_df = backstroke_df.sort_values(by=['Time1', 'Time2', 'Time3'])
butterfly_df = butterfly_df.sort_values(by=['Time1', 'Time2', 'Time3'])
freestyle_df = freestyle_df.sort_values(by=['Time1', 'Time2', 'Time3'])
breaststroke_df = breaststroke_df.sort_values(by=['Time1', 'Time2', 'Time3'])

In [28]:
# Empat pemain terbaik  berdasarkan waktu tercepat ke dalam kelompok a (bersama waktu pertama sampai ke tiga juga)
#Indeks dengan .iloc mengambil indeks ke-0 sampai ke 3
freestyle_a= freestyle_df.iloc[:4][['Name', 'Time1', 'Time2', 'Time3']]
backstroke_a = backstroke_df.iloc[:4][['Name', 'Time1', 'Time2', 'Time3']]
butterfly_a= butterfly_df.iloc[:4][['Name', 'Time1', 'Time2', 'Time3']]
breaststroke_a = breaststroke_df.iloc[:4][['Name', 'Time1', 'Time2', 'Time3']]

In [29]:
# Empat perenang selanjutnya dimasukkan ke kelompok b
#Indeks dengan .iloc mengambil indeks ke-4 sampai ke 7
freestyle_b = freestyle_df.iloc[4:8][['Name', 'Time1', 'Time2', 'Time3']]
backstroke_b = backstroke_df.iloc[4:8][['Name', 'Time1', 'Time2', 'Time3']]
butterfly_b = butterfly_df.iloc[4:8][['Name', 'Time1', 'Time2', 'Time3']]
breaststroke_b = breaststroke_df.iloc[4:8][['Name', 'Time1', 'Time2', 'Time3']]

In [31]:
# Tim a dan b setelah dipisahkan akan disimpan ke dalam datframe baru
team = pd.DataFrame({
    'Perlombaan': ['freestyle', 'freestyle', 'backstroke', 'backstroke', 'butterfly', 'butterfly', 'breaststroke', 'breaststroke'],
    'a': [freestyle_a, backstroke_a, butterfly_a, breaststroke_a, [], [], [], []],
    'b': [freestyle_b, backstroke_b, butterfly_b, breaststroke_b, [], [], [], []],
})

In [36]:
#menjadikan dataframe tersebut menjadi sebuah format yang bisa dibaca excel
team.to_csv('TimPerlombaan', index=False)

,Perlombaan,a,b
0,freestyle,Name Time1 Time2 ...,Name Time1 Time2 ...
1,freestyle,Name Time1 Time2 ...,Name Time1 Time2 ...
2,backstroke,Name Time1 Time2 ...,Name Time1 Time2 ...
3,backstroke,Name Time1 Time2 ...,Name Time1 Time2 ...
4,butterfly,[],[]
5,butterfly,[],[]
6,breaststroke,[],[]
7,breaststroke,[],[]

In [37]:
#tim a
print('\t\tA Relay Team:')
print('Freestyle:\n')
print(freestyle_a.to_string(index=False))
print()
print('Backstroke:\n')
print(backstroke_a.to_string(index=False))
print()
print('Butterfly:\n')
print(butterfly_a.to_string(index=False))
print()
print('Breaststroke:\n')
print(breaststroke_a.to_string(index=False))

		A Relay Team:
Freestyle:

  Name        Time1        Time2        Time3
  Emma 00:33:630688 00:34:053622 00:34:184839
Evelyn 00:34:131992 00:33:995315 00:34:460380
Aubrey 00:34:431395 00:34:024280 00:33:705075
Olivia 00:34:737073 00:33:899207 00:34:070490

Backstroke:

  Name        Time1        Time2        Time3
Sophia 00:34:694401 00:33:935499 00:34:702772
 Grace 00:35:187208 00:35:211084 00:34:670441
Sophia 00:36:983126 00:37:126089 00:37:776139
 Grace 00:37:052796 00:37:226639 00:36:860638

Butterfly:

    Name        Time1        Time2        Time3
  Audrey 00:34:632121 00:34:585881 00:34:435631
   Layla 00:36:471171 00:36:939733 00:35:994950
Samantha 00:36:497323 00:36:673034 00:36:145255
   Layla 00:36:592157 00:36:629977 00:35:872307

Breaststroke:

    Name        Time1        Time2        Time3
Samantha 00:33:932013 00:34:387609 00:33:914880
   Avery 00:34:887566 00:34:831212 00:34:117882
   Layla 00:36:541725 00:36:579116 00:35:825589
   Avery 00:36:542282 00:36:618501 00:36:303954

In [38]:
#tim b
print('Freestyle:\n')
print(freestyle_b.to_string(index=False))
print()
print('Backstroke:\n')
print(backstroke_b.to_string(index=False))
print()
print('Butterfly:\n')
print(butterfly_b.to_string(index=False))
print()
print('Breaststroke:\n')
print(breaststroke_b.to_string(index=False))
print()

Freestyle:

     Name        Time1        Time2        Time3
   Aubrey 00:34:997399 00:34:950688 00:34:869864
   Olivia 00:35:096363 00:34:962637 00:35:161438
   Evelyn 00:35:173740 00:34:858299 00:34:268399
Elizabeth 00:35:392487 00:35:635598 00:35:446756

Backstroke:

    Name        Time1        Time2        Time3
Penelope 00:38:179888 00:38:265697 00:38:372162
   Grace 00:38:526014 00:37:897478 00:38:415338
  Sophia 00:38:898670 00:39:464062 00:39:136942
  Sophia 00:38:905835 00:39:191657 00:39:305191

Butterfly:

 Name        Time1        Time2        Time3
Layla 00:36:657880 00:36:758012 00:36:936568
 Leah 00:36:938822 00:36:969931 00:36:172325
 Leah 00:36:989777 00:36:128169 00:36:442117
Layla 00:37:115375 00:37:576848 00:37:293411

Breaststroke:

    Name        Time1        Time2        Time3
   Layla 00:36:547569 00:36:330738 00:36:228880
Samantha 00:36:560403 00:36:099040 00:36:482083
     Zoe 00:37:353150 00:37:942152 00:37:001172
 Lillian 00:37:746822 00:38:313359 00:38:126114