# Kelompok 9:
- 121450020 MARSHANDA PUTRI PRASETYA 
- 121450053 RAHMAT PUTRA AJI 
- 121450098 Muhammad Fathir Fadillah 
- 121450125 MIFTAHUL HUDA 
- 121450149 YOSIA LETARE BANUREA 
- 121450152 Lulu Christin Sihombing

Bangun array sederhana dari fungsi yang mengambil input tunggal dan mengembalikan input yang ditambahkan dengan angka. Fungsi dibangun di loop for di mana iterator i berjalan dari 0 hingga 3. Untuk masing-masing angka ini dibuat fungsi lambda yang menangkap i dan menambahkannya ke input fungsi. Baris terakhir memanggil fungsi lambda kedua dengan 3 sebagai parameter. Yang hasilnya adalah 4.

In [1]:
def tambah_angka(input):
    array_fungsi = []
    for i in range(0, 3):
        array_fungsi.append(lambda x, y=i: x + y)
    return array_fungsi

hasil_array_fungsi = tambah_angka(1)

hasil = hasil_array_fungsi[1](3)

print(hasil)

4

Apa cara paling elegan untuk meyakinkan fungsi lambda untuk menangkap nilai i saat ini dengan cara yang tidak akan terpengaruh saat i mengubah nilainya?

In [2]:
adders=[None, None, None, None]
for i in [0,1,2,3]:
    adders[i]=lambda a,i=i: i+a
print( adders[1](3) )

4

Dengan memberikan nilai default argumen (i=i)

Lakukan experiment closure dengan dataset melalui github berikut= https://github.com/WilliamPythonDL/Closure_Experiment.git Diskusikan dengan kelompok anda, dan buatlah dengan dataset yang berbeda dan uji lah dengan closure experiment. Buatlah analisa setiap baris dan jelaskan insight yang anda dapat.

Buatlah analisa closure versi anda, buatlah composition function (aljabar), partial application (aljabar) dan teknik currying

In [9]:
# experiment closure dengan dataset https://github.com/WilliamPythonDL/Closure_Experiment.git
import pandas as pd

def region_info():
    df = pd.read_csv('https://raw.githubusercontent.com/WilliamPythonDL/Closure_Experiment/master/ClosureExperiment/china_region.csv')
    
    def get_info(code):
        return df[df['code'] == code]
    
    return get_info
Info = region_info()
print(Info(110000))

     code region  is_province_code  leading_code province
0  110000    北京市              True            11      北京市

In [16]:
# dengan data baru
from functools import *
data = pd.read_csv('https://raw.githubusercontent.com/Mif212/dokumen/main/data_mhs.csv')

# Composition Function
def transform_data(df):
    df = df.drop(columns=['tahun_akademik', 'nama_mk', 'kelas', 'sks_matkul', 'nilai_mutu', 'ips'])
    df = df.rename(columns={'Nama': 'nama', 'NIM': 'nim', 'semester_mahasiswa': 'semester', 'IPK': 'ipk'})
    return df

data_transformed = transform_data(data)


# Partial Application
def filter_by_smt(df, semester):
    return df[df['semester'] == semester]

filter_9 = partial(filter_by_smt, semester=9)
filter_10= partial(filter_by_smt, semester=10)

data_9= filter_9(data_transformed)
data_10 = filter_10(data_transformed)
print(data_9)
print(data_10)

# Teknik Currying
def filter_by_ipk(df):
    def filter_ipk(ipk):
        return df[df['ipk'] >= ipk]
    return filter_ipk

filter_ipk_lulus = filter_by_ipk(data_transformed)
data_lulus = filter_ipk_lulus(3.0)
data_lulus

              nim                              nama  semester   ipk
0     D1041151001                  MUHAMMAD AFFANDI         9  3.83
1     D1041151001                  MUHAMMAD AFFANDI         9  3.83
2     D1041151001                  MUHAMMAD AFFANDI         9  3.83
6     D1041151002         RAY PUTRA LEONARDO TOBING         9  3.39
7     D1041151002         RAY PUTRA LEONARDO TOBING         9  3.39
...           ...                               ...       ...   ...
1961  D1042161047                   KHOLIZAR NAFIAN         9  3.45
1976  D1042161048  SOPIA PRISKLIA  YULI  NAINGGOLAN         9  2.30
1977  D1042161048  SOPIA PRISKLIA  YULI  NAINGGOLAN         9  2.30
1978  D1042161048  SOPIA PRISKLIA  YULI  NAINGGOLAN         9  2.30
1979  D1042161048  SOPIA PRISKLIA  YULI  NAINGGOLAN         9  2.30

[465 rows x 4 columns]
              nim                              nama  semester   ipk
3     D1041151001                  MUHAMMAD AFFANDI        10  3.83
8     D1041151002         RAY PUTRA LEONARDO TOBING        10  3.44
9     D1041151002         RAY PUTRA LEONARDO TOBING        10  3.44
14    D1041151003                    NURAINI AYUSRA        10  3.32
19    D1041151005                     HENDRIKUS EKA        10  3.39
...           ...                               ...       ...   ...
1962  D1042161047                   KHOLIZAR NAFIAN        10  3.45
1963  D1042161047                   KHOLIZAR NAFIAN        10  3.45
1980  D1042161048  SOPIA PRISKLIA  YULI  NAINGGOLAN        10  2.30
1981  D1042161048  SOPIA PRISKLIA  YULI  NAINGGOLAN        10  2.30
1982  D1042161048  SOPIA PRISKLIA  YULI  NAINGGOLAN        10  2.30

[354 rows x 4 columns]

              nim                nama  semester   ipk
0     D1041151001    MUHAMMAD AFFANDI         9  3.83
1     D1041151001    MUHAMMAD AFFANDI         9  3.83
2     D1041151001    MUHAMMAD AFFANDI         9  3.83
3     D1041151001    MUHAMMAD AFFANDI        10  3.83
4     D1041151001    MUHAMMAD AFFANDI        11  3.83
...           ...                 ...       ...   ...
8843  D1041201066  ROLIN HAQQIY TAQIY         2  3.23
8844  D1041201066  ROLIN HAQQIY TAQIY         2  3.23
8845  D1041201066  ROLIN HAQQIY TAQIY         2  3.23
8846  D1041201066  ROLIN HAQQIY TAQIY         2  3.23
8847  D1041201066  ROLIN HAQQIY TAQIY         2  3.23

[7971 rows x 4 columns]

### Analisa Closure:

Dalam konsep closure, fungsi memiliki akses ke variabel di lingkungan yang di luar fungsi tersebut. Dalam contoh-contoh di atas, kita dapat melihat penggunaan closure dalam beberapa cara.

Pada contoh penggunaan partial application, fungsi baru filter_by_smt dan fungsi baru filter_ipk memiliki akses ke variabel df yang merupakan data mahasiswa yang sudah diubah. Variabel ini diakses di luar fungsi tersebut namun tetap dapat digunakan di dalam fungsi tersebut.

Pada contoh penggunaan teknik currying, fungsi baru filter_ipk juga memiliki akses ke variabel df yang merupakan data mahasiswa yang sudah diubah. Variabel ini diakses melalui fungsi yang sudah diubah filter_ipk(ipk) yang merupakan closure dari fungsi filter_by_ipk.

### Insight yang Didapat:

Dengan menggunakan konsep composition function, partial application, dan teknik currying, kita dapat melakukan transformasi data pada dataset mahasiswa secara modular dan terstruktur. Kita dapat dengan mudah membuat fungsi baru yang melakukan filter data mahasiswa berdasarkan semester atau IPK tertentu dengan cara yang lebih efisien.

Selain itu, penggunaan konsep closure pada contoh-contoh di atas juga menunjukkan fleksibilitas dan kemampuan modularitas pada bahasa pemrograman Python. Dalam kasus yang lebih kompleks, penggunaan konsep closure dapat sangat berguna dalam menjaga kerapian dan keterbacaan kode.